*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, Helvetica, sans-serif;
    background:#f5f5f5;
    color:#333;
}

header{
    background:#111;
    color:#fff;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 8%;
    position:sticky;
    top:0;
    z-index:1000;
}

.logo h2{
    color:#d4af37;
}

.logo p{
    font-size:14px;
    color:#ddd;
}

nav{
    display:flex;
    gap:20px;
    flex-wrap:wrap;
}

nav a{
    color:#fff;
    text-decoration:none;
    font-weight:bold;
    transition:.3s;
}

nav a:hover{
    color:#d4af37;
}

.hero{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:80px 8%;
    background:linear-gradient(135deg,#111,#222);
    color:#fff;
    flex-wrap:wrap;
}

.texto{
    max-width:550px;
}

.texto h1{
    font-size:48px;
    margin-bottom:20px;
}

.texto p{
    font-size:20px;
    line-height:1.6;
    margin-bottom:35px;
}

.botao{
    background:#d4af37;
    color:#111;
    padding:16px 35px;
    border-radius:8px;
    text-decoration:none;
    font-weight:bold;
    transition:.3s;
}

.botao:hover{
    background:#fff;
}

.foto img{
    width:420px;
    border-radius:15px;
    box-shadow:0 15px 40px rgba(0,0,0,.4);
}

.servicos{
    padding:80px 8%;
    text-align:center;
}

.servicos h2{
    font-size:38px;
    margin-bottom:50px;
}

.cards{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:25px;
}

.card{
    background:#fff;
    padding:35px;
    border-radius:12px;
    box-shadow:0 10px 25px rgba(0,0,0,.08);
    transition:.3s;
}

.card:hover{
    transform:translateY(-10px);
}

.card h3{
    color:#d4af37;
    margin-bottom:15px;
}

.sobre{
    background:#fff;
    padding:80px 8%;
    text-align:center;
}

.sobre h2{
    font-size:38px;
    margin-bottom:25px;
}

.sobre p{
    max-width:900px;
    margin:auto;
    line-height:1.8;
    font-size:18px;
}

footer{
    background:#111;
    color:#fff;
    text-align:center;
    padding:25px;
}

@media(max-width:900px){

header{
flex-direction:column;
gap:20px;
}

.hero{
flex-direction:column;
text-align:center;
}

.texto h1{
font-size:34px;
}

.texto p{
font-size:18px;
}

.foto img{
width:300px;
margin-top:40px;
}

nav{
justify-content:center;
}

}
.card{
text-decoration:none;
color:#333;
cursor:pointer;
}

.card:hover{
background:#d4af37;
color:#111;
transform:translateY(-10px) scale(1.03);
}

.card:hover h3{
color:#111;
}
